apiVersion: apps/v1
kind: Deployment
metadata:
  name: apps-metadata-server
  labels:
    app: gridcapa
    component: apps-metadata-server
spec:
  selector:
    matchLabels:
      app: gridcapa
      component: apps-metadata-server
  template:
    metadata:
      labels:
        app: gridcapa
        component: apps-metadata-server
    spec:
      containers:
        - name: apps-metadata-server
          image: apps-metadata-server
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /opt/bitnami/apache/htdocs/
              name: apps-metadata-server-configmap-volume
            - mountPath: /opt/bitnami/apache/htdocs/homepage.html
              subPath: homepage.html
              name: homepage-configmap-volume
            - mountPath: /opt/bitnami/apache/htdocs/homepage.css
              subPath: homepage.css
              name: homepage-configmap-volume
            - mountPath: /opt/bitnami/apache/htdocs/homepage.js
              subPath: homepage.js
              name: homepage-configmap-volume
            - mountPath: /opt/bitnami/apache/var/run/
              name: run-emptydir
            - mountPath: /opt/bitnami/apache/htdocs/data/
              name: minio-get-storage-data-data
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1001
            readOnlyRootFilesystem: false
          resources:
            requests:
              cpu: "0.1"
              memory: "128Mi"
            limits:
              cpu: "0.5"
              memory: "128Mi"
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 1
            successThreshold: 1
      restartPolicy: Always
      volumes:
        - name: apps-metadata-server-configmap-volume
          configMap:
            name: apps-metadata-server-configmap
        - name: run-emptydir
          emptyDir: {}
        - name: minio-get-storage-data-data
          persistentVolumeClaim:
            claimName: minio-get-storage-data-pv
        - name: homepage-configmap-volume
          configMap:
            name: homepage-configmap
