version: "3.7"
services:
  core-valid-day-ahead-conservative-app:
    image: farao/gridcapa-app:latest
    volumes:
      - ../common/config/env.json:/usr/local/apache2/htdocs/gridcapa/env.json:Z
      - ./config/core-process-metadata.json:/usr/local/apache2/htdocs/gridcapa/process-metadata.json:Z
    networks:
      - gridcapa

  core-valid-day-ahead-conservative-data-bridge:
    image: farao/gridcapa-data-bridge:latest
    volumes:
      - ./config/core-valid-day-ahead-conservative-data-bridge-application.yml:/config/application.yml
    networks:
      - gridcapa

  core-valid-day-ahead-conservative-task-manager:
    image: farao/gridcapa-task-manager:latest
    volumes:
      - ./config/core-valid-day-ahead-conservative-task-manager-application.yml:/config/application.yml
    networks:
      - gridcapa

  core-valid-day-ahead-conservative-job-launcher:
    image: farao/gridcapa-job-launcher:latest
    env_file:
      - ../common/config/version.env
    volumes:
      - ./config/core-valid-day-ahead-conservative-job-launcher-application.yml:/config/application.yml
    networks:
      - gridcapa

  core-valid-day-ahead-conservative-runner:
    image: farao/gridcapa-core-valid-day-ahead-conservative:latest
    volumes:
      - ./config/core-valid-day-ahead-conservative-runner-application.yml:/config/application.yml
      - ../../configuration/core-valid-day-ahead-conservative-runner-itools-config.yml:/home/farao/.itools/config.yml
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - gridcapa

  core-valid-day-ahead-conservative-adapter:
    image: farao/gridcapa-core-valid-day-ahead-conservative-adapter:latest
    volumes:
      - ./config/core-valid-day-ahead-conservative-adapter-application.yml:/config/application.yml
    healthcheck:
      test: [ "CMD", "wget", "-O", "-", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - gridcapa

  core-valid-day-ahead-conservative-exporter:
    image: farao/gridcapa-export:latest
    volumes:
      - ./config/core-valid-day-ahead-conservative-exporter-application.yml:/config/application.yml
    healthcheck:
      test: [ "CMD", "wget", "-O", "-", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - gridcapa

networks:
  gridcapa:
    name: gridcapa
