version: "3.7"
services:
  nginx-proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:Z
      - ../common/config/apps-metadata.json:/usr/share/nginx/html/apps-metadata.json:Z
      - ../common/config/homepage/:/usr/share/nginx/html/homepage/:Z
    networks:
      - gridcapa

networks:
  gridcapa:
    name: gridcapa
    external: true