version: "3.7"
services:
  gridcapa-postgres:
    image: docker.io/farao/bitnami-postgresql:14.6.0
    environment:
      ALLOW_EMPTY_PASSWORD: 'yes'
    ports:
      - "5434:5432"
    volumes:
      - gridcapa-postgres-data:/bitnami/postgresql
      - ./config/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - gridcapa

  rabbitmq:
    image: rabbitmq:management
    environment:
      RABBITMQ_DEFAULT_USER: gridcapa
      RABBITMQ_DEFAULT_PASS: gridcapa
      RABBITMQ_CONFIG_FILE: /etc/rabbitmq/rabbitmq.conf
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/mnesia
      - ./config/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    networks:
      - gridcapa
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5

  ftp-server:
    image: delfer/alpine-ftp-server
    restart: always
    environment:
      USERS: |-
        gridcapa|gridcapa|/data/gridcapa/
        gridcapa|gridcapa|/data/gridcapa/core/cc/
        gridcapa|gridcapa|/data/gridcapa/core/valid/
        gridcapa|gridcapa|/data/gridcapa/core/valid/idcc/
        gridcapa|gridcapa|/data/gridcapa/core/valid/d2cc_conservative/
        gridcapa|gridcapa|/data/gridcapa/cse/export/d2cc/
        gridcapa|gridcapa|/data/gridcapa/cse/export/idcc/
        gridcapa|gridcapa|/data/gridcapa/cse/import/d2cc/
        gridcapa|gridcapa|/data/gridcapa/cse/import_ec/d2cc/
        gridcapa|gridcapa|/data/gridcapa/cse/import_ec/idcc/
        gridcapa|gridcapa|/data/gridcapa/cse/import/idcc/
        gridcapa|gridcapa|/data/gridcapa/cse/valid/
        gridcapa|gridcapa|/data/gridcapa/cse/valid/outputs/
        gridcapa|gridcapa|/data/gridcapa/swe/btcc/
        gridcapa|gridcapa|/data/gridcapa/swe/d2cc/
        gridcapa|gridcapa|/data/gridcapa/swe/idcc/
        gridcapa|gridcapa|/data/gridcapa/swe/idcf/
        gridcapa|gridcapa|/data/gridcapa/core/cc/outputs/
        gridcapa|gridcapa|/data/gridcapa/core/valid/idcc/outputs/
        gridcapa|gridcapa|/data/gridcapa/core/valid/d2cc_conservative/outputs/
        gridcapa|gridcapa|/data/gridcapa/core/valid/outputs/
        gridcapa|gridcapa|/data/gridcapa/cse/export/d2cc/outputs/
        gridcapa|gridcapa|/data/gridcapa/cse/export/idcc/outputs/
        gridcapa|gridcapa|/data/gridcapa/cse/import/d2cc/outputs/
        gridcapa|gridcapa|/data/gridcapa/cse/import_ec/d2cc/outputs/
        gridcapa|gridcapa|/data/gridcapa/cse/import_ec/idcc/outputs/
        gridcapa|gridcapa|/data/gridcapa/cse/import/idcc/outputs/
        gridcapa|gridcapa|/data/gridcapa/cse/valid/outputs/cia/
        gridcapa|gridcapa|/data/gridcapa/swe/btcc/outputs/
        gridcapa|gridcapa|/data/gridcapa/swe/d2cc/outputs/
        gridcapa|gridcapa|/data/gridcapa/swe/idcc/outputs/
        gridcapa|gridcapa|/data/gridcapa/swe/idcf/outputs/
    volumes:
      - ftp-data:/data/gridcapa
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    networks:
      - gridcapa

  sftp:
    hostname: sftp
    image: atmoz/sftp
    volumes:
      - sftp-data:/home/gridcapa/data
    ports:
      - "2222:22"
    environment:
      SFTP_USERS: gridcapa:gridcapa:::/data/gridcapa/data/inputs/ecp,/data/gridcapa/data/inputs/cia,/data/gridcapa/data/outputs/cia
    networks:
      - gridcapa

  filebrowser:
    image: filebrowser/filebrowser
    restart: always
    volumes:
      - ftp-data:/srv/ftp
      - sftp-data:/srv/sftp
    environment:
      FB_BASE_URL: /utils/filebrowser
      FB_USERNAME: gridcapa
      FB_PASSWORD: $$2y$$10$$aWh9euDInAg94hlz3eLRteghF5ASR8LCq6K2EkGwxi4a9oxSyhnP.
    networks:
      - gridcapa

  minio:
    image: docker.io/farao/bitnami-minio:2024.12.18
    restart: always
    volumes:
      - minio-data:/bitnami/minio/data
    environment:
      MINIO_BROWSER_REDIRECT_URL: "http://localhost/minio/"
      MINIO_ROOT_USER: gridcapa
      MINIO_ROOT_PASSWORD: gridcapa
      MINIO_DEFAULT_BUCKETS: gridcapa
      MINIO_NOTIFY_AMQP_ENABLE: "on"
      MINIO_NOTIFY_AMQP_URL: amqp://gridcapa:gridcapa@rabbitmq:5672
      MINIO_NOTIFY_AMQP_EXCHANGE: gridcapa.minio.events
      MINIO_NOTIFY_AMQP_EXCHANGE_TYPE: fanout
      MINIO_NOTIFY_AMQP_DELIVERY_MODE: 2
      MINIO_NOTIFY_AMQP_AUTO_DELETED: "off"
      MINIO_NOTIFY_AMQP_DURABLE: "on"
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - gridcapa

  config-server:
    image: gridsuite/config-server:latest
    restart: always
    volumes:
      - ./config/gridsuite-config-server-application.yml:/config/application.yml:Z
      - ./config/gridsuite-postgres.properties:/config/database.properties:Z
    command: --spring.config.additional-location=/config/
    networks:
      - gridcapa
    depends_on:
      - gridcapa-postgres

  config-notification-server:
    image: gridsuite/config-notification-server:latest
    restart: always
    volumes:
      - ./config/gridsuite-config-notification-server-application.yml:/config/application.yml:Z
    command: --spring.config.additional-location=/config/
    networks:
      - gridcapa
    depends_on:
      - rabbitmq

  rao-runner:
    image: farao/gridcapa-rao-runner-with-xpress:latest
    volumes:
      - ./config/rao-runner-application.yml:/config/application.yml
#      - ./config/rao-runner-itools.yml:/home/farao/.itools/config.yml
      - ./config/logback.xml:/config/logback.xml
      - ./xpr-licence/xpauth.xpr:/home/farao/farao-dep/runtime/xpress/bin/xpauth.xpr
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3030/actuator/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - gridcapa

  rao-failure-handler:
    image: farao/gridcapa-rao-failure-handler:latest
    volumes:
      - ./config/rao-failure-handler-application.yml:/config/application.yml
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - gridcapa

  interruption-server:
    image: farao/gridcapa-interruption-server:latest
    volumes:
      - ./config/gridcapa-interruption-application.yml:/config/application.yml
    healthcheck:
      test: [ "CMD", "wget", "-O", "-", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - gridcapa

networks:
  gridcapa:
    name: gridcapa

volumes:
  gridcapa-postgres-data:
  ftp-data:
  sftp-data:
  minio-data:
  rabbitmq-data:
