body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 90%;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}

menu {
    margin: auto;
    list-style-type: none;
}

li {
    display: block;
    padding: 0.5rem;
    text-align: left;
}

.first-half-logo {
    color: white;
    font-weight: bold;
    font-size: xxx-large;
}

div {
    align-self: center;
    width: 50%;
}

.second-half-logo {
    color: grey;
    font-weight: lighter;
    font-size: xxx-large;
}

img {
    width: 30%;
}