kind: ConfigMap
apiVersion: v1
metadata:
  name: swe-idcc-idcf-job-launcher-configmap
  labels:
    app: gridcapa
    component: job-launcher
    region: swe
    process: idcc-idcf
data:
  application.yml: |-
    logback:
      amqp:
        exchange: swe-idcc-idcf-task-manager-logs-exchange
        routing-key: "#"

    spring:
      application:
        name: swe-idcc-idcf-job-launcher
      rabbitmq:
        host: gridcapa-rabbitmq
        username: ${RABBITMQ_USER}
        password: ${RABBITMQ_PASSWORD}
        port: 5672
      cloud:
        stream:
          default:
            group: swe-idcc-idcf-job-launcher
          bindings:
            run-task:
              destination: swe-idcc-idcf-run-task
            run-task-auto:
              destination: swe-idcc-idcf-run-task
            stop-task:
              destination: stop-task
            consumeTaskDtoUpdate-in-0:
              destination: swe-idcc-idcf-task-updated
            task-status-update:
              destination: swe-idcc-idcf-task-status-updated
          rabbit:
            default:
              consumer:
                auto-bind-dlq: true
                max-attempts: 1
            bindings:
              stop-task:
                producer:
                  routingKey: swe-idcc-idcf
              consumeTaskDtoUpdate-in-0:
                consumer:
                  binding-routing-key: input

    gridcapa-version: ${GRIDCAPA_VERSION}

    job-launcher:
      auto: true
      auto-trigger-filetypes: []
      url:
        task-manager-timestamp-url: http://swe-idcc-idcf-task-manager/tasks/
        task-manager-business-date-url: http://swe-idcc-idcf-task-manager/tasks/businessdate/
        interrupt-run-url: http://interruption-server/interrupt/
