load-flow:
  default-impl-name: OpenLoadFlow

sensitivity-analysis:
  default-impl-name: OpenLoadFlow

load-flow-default-parameters:
  readSlackBus: true
  writeSlackBus: false
  voltageInitMode: DC_VALUES
  balanceType: PROPORTIONAL_TO_LOAD
  countriesToBalance: ES,FR,PT
  phaseShifterRegulationOn: true

open-loadflow-default-parameters:
  minPlausibleTargetVoltage: 0.5
  maxPlausibleTargetVoltage: 1.5
  maxNewtonRaphsonIterations: 30
  maxIteration: 100
  newtonRaphsonConvEpsPerEq: 0.001
  minRealisticVoltage: 0.5
  maxRealisticVoltage: 1.5
  minNominalVoltageRealisticVoltageCheck: 180
  maxOuterLoopIterations: 30
  stateVectorScalingMode: MAX_VOLTAGE_CHANGE
  maxVoltageChangeStateVectorScalingMaxDv: 0.4
  maxVoltageChangeStateVectorScalingMaxDphi: 1
  slackDistributionFailureBehavior: FAIL
  startWithFrozenACEmulation: false

rao-objective-function:
  type: SECURE_FLOW
  enforce-curative-security: true
  unit: AMPERE

rao-range-actions-optimization:
  pst-ra-min-impact-threshold: 0.01
  hvdc-ra-min-impact-threshold: 0.001

search-tree-range-actions-optimization:
  max-mip-iterations: 5
  pst-sensitivity-threshold: 1
  pst-model: APPROXIMATED_INTEGERS

search-tree-linear-optimization-solver:
  solver: XPRESS
  solver-specific-parameters: THREADS 1 MAXNODE 100000 MAXTIME 300
  relative-mip-gap: 0.001

search-tree-pst-regulation-parameters:
  psts-to-regulate: [
    "{_e071a1d4-fef5-1bd9-5278-d195c5597b6e}:{_1d9c658e-1a01-c0ee-d127-a22e1270a242 + _2e81de07-4c22-5aa1-9683-5e51b054f7f8}",
    "{_f82152ac-578e-500e-97db-84e788c471ee}:{_0a3cbdb0-cd71-52b0-b93d-cb48c9fea3e2 + _6f6b15b3-9bcc-7864-7669-522e9f06e931}"
  ]

rao-topological-actions-optimization:
  relative-minimum-impact-threshold: 0
  absolute-minimum-impact-threshold: 1

search-tree-topological-actions-optimization:
  max-preventive-search-tree-depth: 3
  max-curative-search-tree-depth: 3

rao-not-optimized-cnecs:
  do-not-optimize-curative-cnecs-for-tsos-without-cras: false

search-tree-second-preventive-rao:
  execution-condition: POSSIBLE_CURATIVE_IMPROVEMENT
  hint-from-first-preventive-rao: true

search-tree-load-flow-and-sensitivity-computation:
  load-flow-provider: OpenLoadFlow
  sensitivity-provider: OpenLoadFlow

open-sensitivityanalysis-default-parameters:
  startWithFrozenACEmulation: false

search-tree-multi-threading:
  available-cpus: 14
